<h1 class="d-flex justify-content-center mt-5 text-secondary">PROVA 3</h1>
<div class="mx-4">
  <div class="mb-2">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-2">
    <label for="exampleFormControlTextarea1" class="form-label">Inserisci Testo</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</div>
