
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root{
font-size: 18px
}

@font-face{
    font-family: fontpersonale;
    src: url(../testi/font/Roboto-Regular.ttf);
}


body{
    font-family: Arial, Helvetica, sans-serif;
}






/*gestione dimensione dei font*/
#primo-paragrafo{
font-size: 20px;
}

#secondo-paragrafo{
    font-size: 1rem; /*pari al numero di pixel definiti all'elemento root */
}

#terzo-paragrafo{
    font-size: 16px;
}

#quarto-paragrafo{
font-size: 25px;   
}
#quarto-paragrafo{
    font-size: 1em; /* la dimensione in px è prelevata dall' elemento parent*/

}

/* colori*/

h1{
   
    color: rgba(0 , 0, 0,0.5);
    font-family: 'Rubik', sans-serif;
   text-shadow: 3px 3px 3px red;
}
h2{
    width: 80px;
    height: auto;
    color: rgba(0 , 0, 0,0.5);
    font-family: 'Rubik', sans-serif;
   box-shadow: 3px 3px 3px red;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}