$font-default: Arial,
Helvetica,
sans-serif;
$light-color: #f4f4f4;
$primary-color: #0e6cff;
$secondary-color: #ff8700;
$back-color: rgb(100, 15, 197);
$padding-default: 20px;
$margin-default:0 auto;
$main-width: 100%;