html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  background: gray;
  border: 2px solid black;
  display: flex;
  flex-flow: row nowrap; /*mette assieme i valori delle due proprietà*/
  align-items: center;
  justify-content: space-around;
}
#box-1 {
  background: red;
  border: 1px solid black;
  order: 3;
  -webkit-order: 3;
}

#box-2 {
  background: blue;
  border: 1px solid black;
  order: 1;
  -webkit-order: 1;
}

#box-3 {
  background: green;
  border: 1px solid black;
  order: 2;
  -webkit-order: 2;
}
#box-1,
#box-2,
#box-3 {
  padding: 20px;
}
