body{
    background-color: rgb(254, 254, 204);
    color: rgb(246, 139, 139);
    margin-left: 200px;
}
h1{
    font-size: 2rem;
}
#titolo{
    text-decoration: none;
    color: rgb(246, 139, 139);
    
    
}

#js-img{
   width: 300px;
}