div {
  width: 100px;
  height: 100px;
  background: red;
  transition-property: width;
  transition-duration: 6s;
  transition-timing-function: linear;
  transition-delay: 2s;

  /*la proprità di transition possono essere scritte anche in questo modo*/
  /* transition: width 6s linear 2s ---> property duration timing-function delay */
}

div:hover {
  width: 300px;
  height: 300px;
}
